/* 1п. Все абзацы красного цвета */
p {
    color: red;
}

/* 2п. Все h1 зеленого цвета*/
h1 {
    color: green;
}

/* 3п. Все h2 голубого цвета*/
h2 {
    color: blue;
}

/* 4п. Все h3 оранжевого цвета */
h3 {
    color: orange;
}

/*
5 и 6 пункт можно сделать несколькими способами
.p__text {
    color: green;
}
В html после: <p class="p__text"></p>
Либо сразу <p style="color: цвет;"></p>
*/

/* 7п. Поставте все h1 по центру */
h1 {
    text-align: center;
}

/* 8п. Поставте все h2 по правому краю */
h2 {
    text-align: right;
}

/* 9п. второй абзац выровнять по центру
   смотреть 5 и 6 только text-align: center; */

/* 10п. Сделать все h2 20px */
h2 {
    font-size: 20px;
}

/* 11п. Сделать все абзацы <p> 15px */
p {
    font-size: 15px;
}

/* 12п. Сделайте селектор, который выберет все абзацы <p> */
p {

}

/* 13п. Сделайте селектор, который выберет все абзацы <p> внутри дивов <div> */
div p {

}

/* 14п. Сделайте селектор, который выберет все <h2> внутри дивов <div> */
div h2 {
    
}